<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> porfolio.com</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="./static/favicon.ico" type="image/ico">

</head>

<body>
    <div class="about_me">
        <div class="header">
            <h1> About me</h1>
            <span><a href="./index.html" style="float: left; position: relative; top: -55px; left: 50px; color: rgb(92, 11, 18); font-size: x-large;"><i class="far fa-arrow-alt-circle-left"></i> home </a></span>
            <span><a href="./contact.html" style="float: right; position: relative; top: -55px; right: 50px; color: rgb(92, 11, 18); font-size: x-large;"> Contact me<i class="far fa-arrow-alt-circle-right"></i> </a></span>
        </div>
        <hr>
        <br>
        <br>
        <div class="main">
            <div class="card">
                <img src="static/img/ashish1.jpeg" alt="ashish">
            </div>
            <div class="detail">
                <p style="font-size: 20px;">I have done B.Tech in<b> mechanical and automation.</b> Automation is integral part of robotics and programming and I have quite knowledge in<b> Python, Machine learning, HTML,CSS.</b> I am looking for a job in IT sector and as a program
                    developer as enhance my skills towards the growth of organization where I will work hard to be a confident individual with commitments to work and control over situation and changes.</p>
                <p style="font-size: 20px;"> <b> Application Skills </b> </p>
                <ul>
                    <li>Python</li>
                    <li>Machine learning</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Solidworks</li>
                    <li>Autocad</li>
                </ul>
                <span><p>Open a PDF file <a href="static/IT RESUME.pdf" style="color: saddlebrown;"> &nbsp; RESUME </a>.</p></span>
            </div>
        </div>
    </div>
</body>