<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> porfolio.com</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="./static/favicon.ico" type="image/ico">
</head>

<body>
    <div class="contact_me">
        <div class="header">
            <h1> contact me</h1>
            <span><a href="./index.html" style="float: left; position: relative; top: -55px; left: 50px; color: rgb(92, 11, 18); font-size: x-large;"><i class="far fa-arrow-alt-circle-left"></i> home </a></span>
            <span><a href="./index.html" style="float: right; position: relative; top: -55px; right: 50px; color: rgb(92, 11, 18); font-size: x-large;"> home<i class="far fa-arrow-alt-circle-right"></i> </a></span>
        </div>
        <hr>
        <br>
        <br>
        <div class="main">
            <div class="card">
                <img src="static/img/ashish1.jpeg" alt="ashish">
            </div>
            <div class="form">
                <form action="submit_form" method="post">
                    <div class="input-cnt">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" placeholder="name" name="name" />
                    </div>
                    <div class="input-cnt">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="email" placeholder="Email" name="Email" pattern=".+.com" />
                    </div>
                    <div class="input-cnt">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <textarea type="text" placeholder="your message here..." name="message"></textarea>
                    </div>
                    <div class="input-cnt">
                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>
            <div class="social_media">
                <div class="social_media_list">
                    <span><h2>social media</h2></span>
                    <span><a href="https://www.facebook.com/ashishmaurya47" target="_blank"><i class="fab fa-facebook-square"></i> &nbsp;Facebook </a></span><br>
                    <span><a href="https://www.instagram.com/ashish_handsome/" target="_blank"><i class="fab fa-instagram-square"></i> &nbsp;Instagram </a></span><br>
                    <span><a href="www.linkedin.com/in/ashish-maurya-19594a121" target="_blank"><i class="fab fa-linkedin"></i> &nbsp;Linkedin </a></span><br>
                    <span style="position: relative; top: -15px;"><h3><i class="fas fa-envelope-open-text"></i>&nbsp; Email:</h3><p style="float: right; position: relative; top: -53px; left: -12px;">ashishmaurya7547@gmail.com</p></span>
                    <span style="position: relative; top: -25px;"><h3><i class="fas fa-map-marked-alt"></i>&nbsp;Address:</h3><p style="float: right;position: relative; top: -65px; left: 40px;">wazirabad village,north delhi,110084</p></span>
                </div>

            </div>

        </div>
    </div>
</body>