<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> porfolio.com</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="./static/favicon.ico" type="image/ico">

</head>

<body>
    <div class="index">
        <div class="main">
            <header>
                <nav>
                    <ul>
                        <li> <a href="index.html"> Home   </a></li>
                        <li> <a href="work.html"> Work   </a></li>
                        <li> <a href="about.html"> About Me   </a></li>
                        <li> <a href="contact.html"> Contact Me   </a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="content">
            <span style="color: blanchedalmond; font-size: 25px;"> <h1> hello , </h1></span>
            <h1 class="ml11">
                <span class="text-wrapper">
                  <span class="line line1"></span>
                <span class="letters">I am Web Developer</span>
                </span>
            </h1>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            <script type="text/javascript" src="static/js.js"></script>

            <div class="card">
                <img src="static/img/ashish.jpeg" alt="ashish maurya">
                <p> ASHISH MAURYA <br><i> (Developer)</i> </p>
            </div>
        </div>

        <footer>
            <div class="footer-copyright">
                <p> &copy; copyright goes here. </p>
            </div>

        </footer>


    </div>
</body>

</html>