<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> porfolio.com</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="./static/favicon.ico" type="image/ico">

</head>

<body>
    <div class="work">
        <div class="header">
            <h1> Work</h1>
            <span><a href="./index.html" style="float: left; position: relative; top: -55px; left: 50px; color: rgb(92, 11, 18); font-size: x-large;"><i class="far fa-arrow-alt-circle-left"></i> home </a></span>
            <span><a href="./about.html" style="float: right; position: relative; top: -55px; right: 50px; color: rgb(92, 11, 18); font-size: x-large;"> About me<i class="far fa-arrow-alt-circle-right"></i> </a></span>
        </div>
        <hr>
        <br>
        <br>
        <div class="main">
            <div class="card">
                <img src="static/img/ashish1.jpeg" alt="ashish">
            </div>
            <div class="experience">
                <table>
                    <tr>
                        <th>Cad trainer</th>
                        <th>En technologies Ltd</th>
                        <th>Duration : 3month</th>
                    </tr>
                    <tr>
                        <td colspan="3">I had taught AutoCad and Solidworks to mechanical and architecture students and also work on 3d AutoCad.</td>
                    </tr>
                    <tr>
                        <th>Project</th>
                        <th>Project- GO-KART</th>
                        <th>Duration : 3month</th>
                    </tr>
                    <tr>
                        <td colspan="3">I had participated in international go-kart championship 2018 which held from 23 rd march to 26 th march, 2018 Organized by LPU SAEINDIA COLLEGIATE CLUB. I had manage Design and Analysis of this Project on solidworks.</td>
                    </tr>
                    <tr>
                        <th>Project</th>
                        <th>Project- TREADMILLBICYCLE (MAJOR)</th>
                        <th>Duration : 3month</th>
                    </tr>
                    <tr>
                        <td colspan="3">Conventional bicycle converted into treadmill bicycle. In this bicycle the frame of the bicycle is completely modified and the treadmill is placed in between the two wheels, on which user will walk. As the user walk or runs on
                            the treadmill the belt moves to the rear. I had manage Design and Analysis of this Project on solidworks</td>
                    </tr>
                    <tr>
                        <th>PYTHON PROJECT</th>
                    </tr>
                    <tr>
                        <td colspan="3">1. BUILD GUESSING NUMBER AND HINT GAME<br> 2. AUTO EMAIL SENDER <br>3. PASSWORD CHECKER API <br>4. SMS BOT<br>5. PORTFOLIO SERVER DESIGN</td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</body>